= javascript_include_tag 'term'
= javascript_include_tag "#{@ssh_relay_host}/socket.io/socket.io.js"

/this is to trigger logic, leave the container here
#sshTerminal(style="margin: 10px")
  %p
    %button.fun(data-key="1") F1
    %button.fun(data-key="2") F2
    %button.fun(data-key="3") F3
    %button.fun(data-key="4") F4
    %button.fun(data-key="5") F5
    %button.fun(data-key="6") F6
    %button.fun(data-key="7") F7
    %button.fun(data-key="8") F8
    %button.fun(data-key="9") F9
    %button.fun(data-key="10") F10
    %button.fun(data-key="11") F11
    %button.fun(data-key="12") F12
  %p
    %button#CtrlC Ctrl+C
    %button#Ins Ins
    %button#Del Del
    %button#Home Home
    %button#End End
    %button#PgUp PgUp
    %button#PgDown PgDown

:css
  .terminal {
    /*margin: 0 auto;*/
    border: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 12px;
    color: #f0f0f0;
    background: #000;
    line-height: 14px;
  }

  .reverse-video {
    color: #000;
    background: #f0f0f0;
  }

:javascript
  window._cvp = window._cvp ? window._cvp : {}
  window._cvp.sshRelayHost = "#{@ssh_relay_host}"

