= javascript_include_tag 'term'
= javascript_include_tag "#{@ssh_relay_host}/socket.io/socket.io.js"

/this is to trigger logic, leave the container here
#sshTerminal

:css
  .terminal {
    margin: 0 auto;
    border: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 14px;
    color: #f0f0f0;
    background: #000;
  }

  .reverse-video {
    color: #000;
    background: #f0f0f0;
  }

:javascript
  window._cvp = window._cvp ? window._cvp : {}
  window._cvp.sshRelayHost = "#{@ssh_relay_host}"

