%h3 Connections

%table.twelve
  %thead
    %tr
      %th Terminal
      %th Connection
      %th
  %tbody
    - @connections.each do |conn|
      %tr
        %td= conn.terminal.uri
        %td= conn
        %td= link_to 'Connect', users_connection_path(conn)
