%h3 Connections

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Terminal
      %th Connection
  %tbody
    - @connections.each do |conn|
      %tr
        %td= conn.terminal.uri
        %td= link_to conn, users_connection_path(conn), :target => '_blank' 
