.six.columns
  .five.columns
    %h2 Users
  .one
    = link_to 'create', new_organizations_user_path
  .clear

.six.columns
  .five.columns
    %h2 Terminals
  .one
    = link_to 'create', new_organizations_terminal_path
  .clear
