.hero-unit
  %h1 Cloud View Portal
  %p Connect to any terminal, from the cloud

.row
  .span6
    .widget.orgLogin
      .widget-header
        %h3 Organizations
        - unless head_signed_in?
          %a.btn.btn-success.pull-right#orgRegister{href: new_head_registration_path}
            Register
      .widget-content
        - if head_signed_in?
          .shortcuts
            %a.shortcut{:href => organizations_dashboard_path('index')}
              %i.shortcut-icon.icon-th
              %span.shortcut-label Dashboard
            %a.shortcut{:href => organizations_policies_path}
              %i.shortcut-icon.icon-lock
              %span.shortcut-label Access Policies
            %a.shortcut{:href => organizations_dashboard_path('logs')}
              %i.shortcut-icon.icon-list
              %span.shortcut-label Event Log
            %a.shortcut.logoutButton
              %i.shortcut-icon.icon-off
              %span.shortcut-label
                = button_to "Logout", destroy_head_session_path, method: :delete, style: 'background: transparent; border: 0; color: #666'             
        - else
          = render 'organizations/sessions/form'

  .span6
    .widget.orgLogin
      .widget-header
        %h3 Users
      .widget-content
        - if user_signed_in?
          .shortcuts
            %a.shortcut{:href => users_dashboard_path('index')}
              %i.shortcut-icon.icon-th
              %span.shortcut-label Dashboard
            %a.shortcut.logoutButton
              %i.shortcut-icon.icon-off
              %span.shortcut-label
                = button_to "Logout", destroy_user_session_path, method: :delete, style: 'background: transparent; border: 0; color: #666'
        - else
          = render 'users/sessions/form'

:javascript
  $('.logoutButton').click(function () {
    $(this).find('form').submit()
  })
