.hero-unit
  %h1 Cloud View Portal
  %p Connect to any terminal, from the cloud

.row
  .span6
    .widget#orgLogin
      .widget-header
        %h3 Organizations
        - unless head_signed_in?
          %a.btn.btn-success.pull-right#orgRegister{href: new_head_registration_path}
            Register
      .widget-content
        - if head_signed_in?
          .shortcuts
            %a.shortcut{:href => organizations_dashboard_path('index')}
              %i.shortcut-icon.icon-th
              %span.shortcut-label Dashboard
            %a.shortcut{:href => organizations_policies_path}
              %i.shortcut-icon.icon-lock
              %span.shortcut-label Access Policies
        - else
          = render 'organizations/sessions/form'

  .well.span5#usersHalf
    %h2 Users

    - if user_signed_in?
      = link_to 'Go to dashboard', users_dashboard_path('index')
    - else
      = render 'users/sessions/form'
