.hero-unit
  %h1 Cloud View Portal
  %p Connect to any terminal, from the cloud

.row
  .well.span6#organizationHalf
    %h2 Organizations

    - if head_signed_in?
      = link_to 'Go to dashboard', organizations_dashboard_path('index')
    - else
      = render 'organizations/sessions/form'

      %a{href: new_head_registration_path}
        %h3(style='color: darkblue; text-decoration: underline')
          Register new organization

  .well.span5#usersHalf
    %h2 Users

    - if user_signed_in?
      = link_to 'Go to dashboard', users_dashboard_path('index')
    - else
      = render 'users/sessions/form'
