// general app style

.clear {
  clear: both;
}

input, select {
  max-width: 250px;
}

.inline {
  display: inline-block;
}

form.button_to {
  margin: 0;
}

.container {
  width: 1000px;
}

a.org_select select {
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 150px;
}

a.org_select form {
  margin: 0;
}
