// general app style

.clear {
  clear: both;
}

input, select {
  max-width: 250px;
}

h4 a {
  text-decoration: underline;
}

.inline {
  display: inline-block;
}

form.button_to {
  margin: 0;
}

form.button_to div input {
  background: transparent;
  border: 0;
}
