!!!
%html
  %head
    %title Cloudview
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .header
      .eleven.columns
        %h1 Cloud View Portal
      .one.column
        %br
        proto v1
      .clear

    %hr

    .content= yield

